/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
  width: 11px;
  
}

*::-webkit-scrollbar-track {
  background: #f1e9e9;
  border-radius: 10px;
 
}

*::-webkit-scrollbar-thumb {
  background-color: #4B0082	;
  border-radius: 10px;
  border: 3px solid #ffffff;
}